<div class="column gap-1 wrapper">
  <img src="{{ product.image }}" alt="{{ product.name }}" />
  <h2 class="title">{{ product.name }}</h2>

  <div class="row gap-05">
    <span class="price-label">Price: </span>
    <span class="price">{{ product.price }}€</span>
  </div>

  <p-rating
    [(ngModel)]="product.rating"
    iconCancelClass="hidden"
    (onRate)="emitEvent($event)"
  ></p-rating>
  <!-- two sides binding by using "[()]". it means that the property is bound to the component and the component to the property-->
</div>
